[Unit]
Description=blockpress.me server
After=network-online.target

[Service]
# todo: re-enable https if issues with autocert can be resolved:
# https://github.com/orgs/blockpress/teams/blockpress-developers/discussions/4
Environment=BLOCKPRESS_ADDR=":80"
ExecStart=/opt/bin/blockpress.me
Restart=always

[Install]
WantedBy=network-online.target

